.abd-toggle {
    position: relative;
    width: 52px;
    height: 26px;
    /*border: 5px solid #e9e9e9;*/
    border: 2px solid rgba(0,0,0,.12);
    border-radius: 20px;
}

.abd-toggle input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 41px;
    height: 17px;
}

.abd-toggle input:checked ~ .btn {
    left: 24px;
}

.abd-toggle input:checked ~ .bg {
    background: linear-gradient(#4d5f1c, #a5c04d 5%);
}

.abd-toggle .btn {
    display: block;
    position: absolute;
    z-index: 4;
    top: -4px;
    left: -2px;
    width: 25px;
    height: 26px;
    background: linear-gradient(rgba(253,253,253,1) 0%,rgba(255,255,255,1) 3%,rgba(252,252,252,1) 13%,rgba(228,228,228,1) 50%,rgba(221,221,221,1) 55%,rgba(208,208,208,1) 85%,rgba(205,205,205,1) 100%);
    border: 2px solid #e8e8e8;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2);
    transition: left 0.25s ease;
}

.abd-toggle .btn:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: 5px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.08);
    background: #e3e3e3;
    border-radius: 25px;
}

.abd-toggle .labels {
    position: absolute;
    top: 5px;
    z-index: 2;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.abd-toggle .labels:before {
    content: "On";
    position: absolute;
    left: 6px;
}

.abd-toggle .labels:after {
    content: "Off";
    position: absolute;
    right: 4px;
}

.abd-toggle .bg {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(#848484, #a2a2a2)
}