/*fade in animation*/
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fadein{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.start-invisible {
    opacity: 0;
}

#loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#loader-border{
    border: 5px solid #809e2f;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    top: 51%;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px 5px white;
}

/*overrid muicss*/
.mui-btn--primary, .mui-btn--danger {
    background-color: #a5c04d !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

/******/

.background-cover {
    background: url(../img/cod-1920x1200-1.jpg) no-repeat top center fixed;
    background-size: cover;
    background-color: #909090;
    background-blend-mode: screen;
}


p {
    border-style: none;
    outline: none;
    cursor: default;
}

table {
    width: 100%;
}

.round-white-pane {
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(248, 248, 248, 0.85);
    border-radius: 5px;
    margin-bottom: 10px;
}

#main {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-flow: row;
    padding-top: 30px;
}

/**************************TOP BAR*/
#topbar {
    height: 100px;
    width: 1024px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.titlebar {
    background-color: #e8e8e8; /*page background*/
    color: #7a7a7a;
    font-size: 2em;
    font-weight: 300;
    line-height: 100px;
    height: 100px;
    width: 1024px;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.md-headline {
    line-height: 100px;
}

#logo > img {
    height: 100px;
    width: 130px;
    position: relative;
    top: 6px;
    right: 2px;
}

/******* CENTRAL STRUCTURE *******/
.center-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    min-width: 800px;
    max-width: 1024px;
}

.center-top-container {
    justify-content: center;
    width: 100%;
}

.center-bottom-container {
    justify-content: space-between;
    width: 100%;
    border: 1px solid white;
    box-shadow: -1px 0px 60px 0px rgba(255, 255, 255, 0.75), 1px 0 60px 0px rgba(255, 255, 255, 0.75);
    background-color: rgba(248, 248, 248, 0.85);
    margin: 30px 0;
}

.center-container .inner {
    background-color: #FFFFFF;
    display: inline-flex;
    flex-flow: row;
    width: 1024px;
    vertical-align: middle;
}

.generator-pane {
    padding-bottom: 0;
    border: 1px solid white;
    box-shadow: -1px 0px 60px 0px rgba(255, 255, 255, 0.75), 1px 0 60px 0px rgba(255, 255, 255, 0.75);
    background-color: rgba(248, 248, 248, 0.85);
}

.generator-pane .power-pie-controller {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin: 0 5px;
}

.generator-pane .teams-container {
    justify-content: center;
    display: flex;
    flex-flow: row;
}

.team {
    padding: 10px 15px;
}

.redteam {
    color: #F44336;
}

.redteam td {
    width: 150px;
    text-align: end;
}

.blueteam {
    color: #3891A6;
}
.blueteam td{
    width: 150px;
    text-align: start;
}

/****** GAMES PANEL *******/
.games-pane {
    background-color: transparent;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.game {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/****** PLAYERS PANE *******/
.details-pane {
    width: 100%;
    margin-bottom: 30px;
}

.details-pane-summary {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 5px 10px;
}

.details-summary-chart {
    width: 200px;
    height: 200px;
}

td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: hidden;
    text-align: left;
    cursor: default;
}

.excluded {
    color: #b1b1b1 !important;
}

/** summary and game grids **/
.game-grid {
    padding: 5px 10px;
}

.game-grid > .game-details {
    padding: 0 0 5px 10px;
}

.game-grid .game-grid-title {
    font-weight: bold;
    margin-right: 10px;
}

.game-grid .bit {
    padding: 5px;
    margin: 0 2px;
    border-radius: 5px;
    background-color: #4C5B5C;
    color: white;

}

.game-grid .bit > span {
    font-weight: lighter;
    font-size: small;
}

.game-grid .bit > span:first-child{
    font-weight: bold;
}

.players-table th {
    cursor: pointer !important;
    color: #424242;
    padding: 5px 10px 0 10px;
    font-weight: bold;
    font-size: large;
}

.players-table tr {
    border-bottom: 1px solid #494c50;

}

.players-table td {
    padding: 5px 10px;
}

td.name > div:first-child {
    font-weight: bold;
    font-size: large;
}

.md-subheader {
    margin-top: 50px;
    margin-right: 0 !important;
    padding: 10px;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    background-color: #F3F3F3 !important;
}

/****** PLAYERS LIST **********/
.left-side-buttons {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row;
    width: 100%;
    color: #747474;
}

.row > div {
    width: 16%;
}

.player-name {
    flex-flow: row;
    display: flex;
    vertical-align: middle;
    line-height: 100%;
}

.player-name > div {
    margin-right: 15px;
}

.button {
    cursor: pointer;
    padding: 5px 0;
}

.button:hover {
    color: #EFEFEF;
}

.blue {
    color: #0000FF;
}

.red {
    color: #FF0000;
}

.icon-spinner9:before {
    content: "\e900";
}

/****** FOOTER **************/
#footer {
    min-height: 30px;
    min-width: 1024px;
    background-color: #F1F1F1; /*page background*/
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    color: #7a7a7a;
    line-height: 59px;
}

/*animations*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* generals */
.flex-columns {
    display: flex;
    flex-flow: column;
}

.flex-rows {
    display: flex;
    flex-flow: row;
}