-/* Coolors Exported Palette - coolors.co/a5c04d-424242-f44336-3891a6-4c5b5c */
-
-/* HSL */
-$color1: hsla(74%, 48%, 53%, 1);
-$color2: hsla(0%, 0%, 26%, 1);
-$color3: hsla(4%, 90%, 58%, 1);
-$color4: hsla(191%, 50%, 44%, 1);
-$color5: hsla(184%, 10%, 33%, 1);
-
-/* RGB */
-$color1: rgba(165, 192, 77, 1);
-$color2: rgba(66, 66, 66, 1);
-$color3: rgba(244, 67, 54, 1);
-$color4: rgba(56, 145, 166, 1);
-$color5: rgba(76, 91, 92, 1);