.real-toggle {
    position: relative;
    height: 20px;
    width: 40px;
    margin: 10px;
    border-radius: 40px;
    background-color: #d1d1d1;
    background-image: linear-gradient(to bottom, #d1d1d1 0%, #fefbf7 100%);
}

.real-toggle *:focus {
    outline: none;
}
/*.real-toggle:after {
    position: relative;
    height: 20px;
    width: 40px;
    top: 7px;
    left: 7px;
    content: '';
    z-index: 2;
    border-radius: 40px;
    background-color: #a5a5a5;
    background-image: linear-gradient(to bottom, #a5a5a5 0%, #e8d7be 100%);
}*/

.real-toggle .toggle-body {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 20px;
    width: 40px;
    z-index: 10000;
    border-radius: 35px;
    box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    transition: background-color 0.2s ease-in-out;

}
.real-toggle .toggle-body.off{
    background-color: #f2f9ff;
}
.real-toggle .toggle-body.on{
    background-color: #6bf226;
}
/*.real-toggle .toggle-body:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 40px;
    content: '';
    z-index: 9999;
    border-radius: 35px 0 0 35px;
    box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
    background-color: #b1dd00;
    background-image: linear-gradient(to bottom, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
}*/

.real-toggle .control-button {
    position: relative;
    top: -3px;
    left: -5px;
    height: 20px;
    width: 20px;
    z-index: 10001;
    -webkit-appearance: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
    background-color: #efefef;
    background-image: linear-gradient(to bottom, #efefef 32%, #bcb9b8 100%);
    transition: left 0.2s ease-in-out;

}

.real-toggle .control-button.off {
    left: 20px;

}

.real-toggle .control-button:after {
    position: relative;
    height: 25px;
    width: 25px;
    content: '';
    z-index: 10001;
    border-radius: 40px;
    background-color: #c2c0be;
    background-image: linear-gradient(to bottom, #c2c0be 0%, #d7d7d7 72%);
}


